# OS Files
.DS_Store
Thumbs.db
desktop.ini

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# AI
/CLAUDE.md
.claude/

# Node.js dependencies
node_modules
dist
dist-ssr
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment variables
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

# Build output
/packages/*/dist/
/packages/*/build/
/packages/*/out/
/packages/*/output/
/packages/*/coverage/

# Vue specific
*.local

# TypeScript cache
*.tsbuildinfo

# Fastly specific
fastly-errors.log
fastly-events.log
.fastly

# Build artifacts
.turbo
.cache

deploystack.db
services/backend/persistent_data/*
services/satellite/persistent_data/*

# Test files
.test-context.json
services/backend/tests/e2e/test-data/*.db

._*.ts
._*.sh
._*.vue
._*.md
._*.js
._*.json
._*.js
._*.png
._*.webp
._*.jpg
._*.jpeg
._*.svg
._*.gif
._*.html
._*.pug
._*.yml
._*.yaml
._*.css
._*.ico
cookies.txt
cookiejar.txt
cookie.txt

coverage/
persistent_data/database-test/

services/backend/_catalog
services/backend/_dereferenced